@import 'inter.css';

/*nulling*/

*,
*::before,
*::after {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    background-color: #fff;
    font-weight: 400;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*common*/

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

/*header*/

.header {
    padding: 23px 0;
    box-shadow: inset 0 -1px 0 #F0F0F0;
    margin-bottom: 60px;
}

.header > .container {
    max-width: 1840px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__logo {

}

.header__auth {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #464646;
    cursor: pointer;
}

.header__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #464646;
}

/*main*/

.main__wrapper {
    display: flex;
    flex-direction: column;
}

/*notice*/

.notice {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 16px 26px;
    background: #F6FFED;
    border: 1px solid #B7EB8F;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    position: fixed;
    top: 80px;
    right: 20px;
}

.notice--active {
    display: flex;
}

.notice__button {
    cursor: pointer;
}

.search {
    cursor: pointer;
}

.search--active {
    color: red;
}



/*filter*/

.filter {
    display: flex;
    margin-bottom: 20px;
}

.filter__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DBE0E9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
    border-radius: 2px;
    padding: 2px 8px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.filter__button:hover {
    border: 1px solid #1859FF;
    color: #1859FF;
}

.button--filter-active {
    border: 1px solid #1859FF;
    color: #1859FF;
}

/*add task*/

.add-task {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 40px;
}

.add-task__input {
    flex: 1 1;
    padding: 8px 12px;

    background-color: #FFFFFF;
    border: 1px solid #DBE0E9;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px 0 0 2px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

input#input__new-task:focus {
    border: 1px solid #1859FF;
}

input#input__new-task::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #B4BAC4;
}

.add-task__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 8px 22px;

    cursor: pointer;
    background-color: #1859FF;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.todolist__button:hover {
    background-color: #455;
}

/*list task*/
.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list__item {
    display: flex;
    align-items: center;
    padding: 20px 16px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;

    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.todolist__task-new {
    margin-right: 27px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
    width: 100%;
}

.button-edit {
    margin-right: 22px;
}

.todolist__state {
    display: none;
    margin-right: 24px;
}

.todolist__state + .label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #DBE0E9;
    margin-right: 24px;
}

.todolist__state:checked + label {
    background: #a3bdff;
}

.button--edit,
.button--del {
    cursor: pointer;
}

.button--del {
    color: #D60103;
}

.button--edit {
    margin-right: 22px;
}

/*error*/

.error {
    color: #f00;
    display: none;
}

.error--show {
    display: block;
}

.state--ready {
    color: #464646;
    text-decoration: line-through;
}

/*footer*/

.footer {
    padding: 23px 0;
    background: #F0F0F0;
    box-shadow: inset 0 -1px 0 #F0F0F0;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {

}

.footer__link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #606060;
}

.edit--disable {
    color: #606060;
    pointer-events: none;
}

.remove--disable {
    color: #ef999a;
}

/*auth*/
/*.modal-auth {*/
/*    display: none;*/
/*    position: fixed;*/
/*    z-index: 3;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*}*/

/*modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/*modal-search*/

.modal-search__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5px;
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 5%;
    right: 20px;
    z-index: 2;
    background-color: #ffffff;
}

.modal-search__close {
    cursor: pointer;
    align-self: flex-start;
}

.modal-search__title {
    align-self: flex-end;
    width: 80%;
    margin-bottom: 15px;
}

.modal-search__input {
    align-self: flex-end;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 10%);
    border-radius: 2px 0 0 2px;
    padding: 4px 6px;
    border: 1px solid #000000;
    margin-bottom: 30px;
    width: 80%;
}


/*modal-edit*/
.save {
    color: #B7EB8F;
}

.modal--active {
    display: block;
}

/*modal-auth*/

.modal-auth__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: #FFFFFF;
    width: 100%;
    position: absolute;
    max-width: 580px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

.modal-auth__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0.005em;
    color: #464646;
    margin-bottom: 12px;
}

.modal-auth__desc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #606060;
    margin-bottom: 34px;
}

.modal-auth__list {
    display: flex;
    cursor: pointer;
    margin-bottom: 34px;
    position: relative;
}

.modal-auth__list:before {
    content: '';
    display: block;
    height: 2px;
    background: #F0F2F6;
    position: absolute;
    width: 100%;
    top: 92%;
    z-index: 1;
}


.modal-auth__item {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #606060;
    margin-right: 32.5px;
    border-bottom: 2px solid transparent;
    z-index: 2;
}

.modal-auth__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 368px;
    width: 100%;
    margin: 0 auto;
}

.modal-auth__button {
    display: flex;
    padding: 8px 160px;
    background: #1859FF;
    border-radius: 2px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.modal-auth__input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B4BAC4;
    padding: 8px 12px;
    max-width: 368px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DBE0E9;
    border-radius: 2px;
}

.modal-auth__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.login {
    margin-bottom: 28px;
}

.password {
    margin-bottom: 60px;
}

.auth--active {
    color: #1859FF;
    border-bottom: 2px solid #1859FF;
}








